<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular2")

    <!-- 2. Configure SystemJS -->
    <script>
        System.config({
        packages: {
          app: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('app/main')
            .then(null, console.error.bind(console));
    </script>

</head>
<body>
    <div>
        <header>
            <div class="row-fluid">
                <div>
                    <a href="@Url.Action("Index", "Home")" title="Home">
                        <div class="logo"></div>
                    </a>

                    <div id="headerHolder">
                        <h1 class="header">OrderWell</h1>
                        <span style="color: white; font-weight: bold">V 1.0.0.0</span> &nbsp <span style="color: white; font-weight: bold">Fareham Branch</span>
                    </div>
                    <div id="user-details" class="pull-right">
                        <div>Logged in as Fiona Pond</div>
                        <img id="avatar" src="" alt="Fiona Pond" height="41" width="41" />
                    </div>
                </div>
            </div>
            <div id="xxx" class="row-fluid">
                <div id="nav">
                    <ul class="nav nav-pills" style="min-height: 39px;">
                        <li>@Html.ActionLink("Routes", "Index", "Branch")</li>
                        <li>@Html.ActionLink("Clean", "Index", "CleanDeliveries")</li>
                        <li>@Html.ActionLink("Resolved", "Index", "ResolvedDeliveries")</li>
                    </ul>

                </div>
            </div>

        </header>

        <div class="container-fluid">

            <div class="row-fluid">
                <section id="app">
                    <div>
                        <div>@RenderBody()</div>
                    </div>
                </section>
            </div>
        </div>
    </div>




    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jsscripts")
</body>

</html>
