@model PH.Well.Dashboard.Models.BootstrapData
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <base href="/Well/Dashboard/" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico"/>
    @Styles.Render("~/bundles/css/all")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <!--[if lt IE 7]>
                <div class="alert alert-warning">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
            <![endif]-->
    <noscript>
        <div class="alert alert-warning">Javascript must be turned on for this website to work!</div>
    </noscript>

@RenderBody()

<script src="@string.Format("{0}/Scripts/angular2/polyfillsBundle.js?ticks={1}", HttpRuntime.AppDomainAppVirtualPath, DateTime.Now.Ticks)"></script>

@Scripts.Render("~/bundles/jsscripts")
@Scripts.Render("~/bundles/signalr")
@Scripts.Render("~/bundles/bootstrap")
<script src="@string.Format("{0}/signalr/hubs", HttpRuntime.AppDomainAppVirtualPath)"></script>
<script src="@string.Format("{0}/Scripts/Chart.min.js", HttpRuntime.AppDomainAppVirtualPath)"></script>

<!-- Load Angular2 -->
<script src="@string.Format("{0}/Scripts/angular2/vendorBundle.js?ticks={1}", HttpRuntime.AppDomainAppVirtualPath, DateTime.Now.Ticks)"></script>
<script src="@string.Format("{0}/Scripts/angular2/appBundle.js?ticks={1}", HttpRuntime.AppDomainAppVirtualPath, DateTime.Now.Ticks)"></script>


@RenderSection("scripts", required: false)
    
</body>

</html>
