<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/well/dashboard/" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular2Shims")
    @Scripts.Render("~/bundles/angular2")
</head>
<body>
    <div>@RenderBody()</div>

@RenderSection("scripts", required: false)
@Scripts.Render("~/bundles/jsscripts")
@Scripts.Render("~/bundles/signalr")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/signalr/hubs"></script>
</body>

</html>
