<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/well/dashboard/" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular2Shims")
    @Scripts.Render("~/bundles/angular2")

    <!-- 2. Configure SystemJS -->
    <script>
        System.config({
        packages: {
          app: {
            format: 'register',
            defaultExtension: 'js'
          },
          'lodash': { main: 'index.js', defaultExtension: 'js' }
        },
        map: {
            'lodash': './node_modules/lodash'
        }
      });
      System.import('app/main')
            .then(null, console.error.bind(console));
    </script>

</head>
<body>
    <div>@RenderBody()</div>

@RenderSection("scripts", required: false)
@Scripts.Render("~/bundles/jsscripts")
@Scripts.Render("~/bundles/signalr")
<script src="~/signalr/hubs"></script>
</body>

</html>
